<% if @tofus.any? %>
<!--   <div class="tofus"> -->
    <%#= render partial: 'shared/tofu', collection: @tofus %>
    <div class="bootstrapped-models" id="bootstrapped-tofus" data='<%= @tofus.to_json %>'></div>
<!--   </div> -->
  <%#= will_paginate @tofus %>
<% end %>