<div class="field well">
	<div class="input-append">
		<form class="tofu-form" onsubmit="return false">
			<input cols="40" id="tofu_content" placeholder="Create new Tofu..." rows="20"></type>
			<input class="btn btn-large btn-primary" id="new-tofu-button" type="submit" value="Send">
		</form>
	</div>
	<div class="controls"></div>
</div>