<div class="controls"></div>
<div class="field well">
<!-- <textarea cols="40" id="micropost_content" placeholder="Create new tofu..." rows="20"></textarea> -->
<textarea data-provide="typeahead" cols="40" id="tofu_content" placeholder="Create new Tofu..." rows="20" data-source='["sachin,1", "makuchaku,2", "task,group", "msg,group", "reminder,group"]' ></textarea>
<input class="btn btn-large btn-primary" id="new-tofu-button" type="button" value="Done">
</div>
