<% if @tofus.any? %>
  <ol class="tofus">
    <%#= render partial: 'shared/tofu', collection: @tofus %>
    <div class="bootstrapped-models" id="bootstrapped-tofus" data='<%= @tofus.to_json %>'></div>
  </ol>
  <%#= will_paginate @tofus %>
<% end %>