<div id="command-line">
  <div id="cmd-chat">
    <ul></ul>
  </div>

<!--   <ul>
    <li title="Home"><a href="http://your.domain.tld/"><img src="img/home.png" alt="" /></a></li>
  </ul>

  <span class="jx-separator-left"></span> -->

  <ul>        
    <li title="Around The Web"><a href="#"><!-- <img src="img/web.png" alt="Get Social" /> --></a>
       <ul>
          <li><a href="#">New Task</a></li>
          <li><a href="#">Attach Files</a></li>
          <li><a href="#">Attach Code</a></li>
       </ul>
    </li>
  </ul>

  <span class="jx-separator-left"></span>

  <div id="jx-tofu-form-div">
  <!-- <div class="input-append"> -->
    <form class="jx-tofu-form" onsubmit="return false">
      <input cols="40" id="jx-tofu_content" placeholder="Create new Tofu..." rows="20"></type>
    </form>
  <!-- </div> -->
  </div>

  <ul class="jx-bar-button-right">
    <input class="btn btn-primary" id="jx-new-tofu-button" type="submit" value="Send">
  </ul>
 
<!--   <ul class="jx-bar-button-right">
    <li title="Feeds"><a href="#"><img src="img/feed.png" alt="" /></a>
       <ul>
          <li><a href="http://your.domain.tld/feed/"><img src="img/feed.png" title="Content Feeds" />Content Feed</a></li>
          <li><a href="http://your.domain.tld/comments/"><img src="img/comment.png" title="Comment Feeds" />Comment Feed</a></li>
       </ul>
    </li>
  </ul> -->

  <span class="jx-separator-right"></span>
   
</div>